<ion-content [fullscreen]="true">
  <div class="RaibowBg-1">
    <i class="fa-solid fa-arrow-left" (click)="showVolt()">←</i>
    <div class="background">
    <h1>Atualizar Perfil</h1>
    <div class="ImgPerfil"></div>
    <div class="FormCard">
        <input type="text" placeholder="Nome Completo" class="inputText">
        <input type="email" placeholder="Email" class="inputText">
        <input type="tel" placeholder="Telefone" class="inputText">
        <input type="text" placeholder="Endereço" class="inputText">
        <input type="password" placeholder="Nova Senha" class="inputText">
        <input type="password" placeholder="Confirmar senha" class="inputText">
    </div>
    <button class="Confirmar" (click)="showConfirm()">Confirmar</button>
  </div>
</div>
</ion-content>
