<ion-content [fullscreen]="true" class="RaibowBg-1">
<div class="background2">
  <div class="header ds-flexC">
    <img src="../../assets/imgs/Logo.png" class="logo">
  </div>
  <div class="main ds-flexC">
      <div class="btns">
        <p class="minTxt">Tenho Conta</p>
        <a (click)="showEntr()" class="btn">Entrar</a>
      </div>
      <div class="btns">
        <p class="minTxt">Não tenho Conta</p>
        <a (click)="showEntr2()" class="btn">Quero me cadastrar</a>
      </div>
  </div>
  <div class="fotter ds-flexC">
      <img src="../../assets/imgs/Bussy.png" class="bus">
  </div>
</div>
</ion-content>
